* {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    text-align: center;
    margin-bottom: 50px;
}

header nav ul {
    list-style-type: none;
    padding: 20px;
    background-color: #7EA8BE;
    margin-top: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px; 
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #7EA8BE;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    margin-top: 100px;
    overflow-y: scroll;
}