* {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    margin-bottom: 50px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 0;
    background-color: #7EA8BE;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px; 
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    margin-top: 100px;
    overflow-y: scroll;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.contact-info {
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}