* {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    margin-bottom: 50px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 0;
    background-color: #7EA8BE;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px; 
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu-icon {
    display: none;
}

body {
    overflow-y: scroll;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    padding: 20px;
}

h2 {
    padding: 36px;
    text-align: center;
    font-size: 40px;;
}

.center-form {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.center-form div {
    margin-bottom: 15px;
}

.center-form input[type="text"],
.center-form input[type="email"],
.center-form select,
.center-form textarea {
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container input[type="submit"],
.button-container input[type="reset"],
.button-container .cancel-button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #7EA8BE;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.button-container input[type="submit"]:hover,
.button-container input[type="reset"]:hover,
.button-container .cancel-button:hover {
    background-color: #5C8598;
}


@media screen and (max-width: 768px) {
    .center-form {
        max-width: 80%;
    }
}

@media screen and (max-width: 640px) {
    nav {
        display: none;
    }

    .menu-icon {
        display: block;
        padding: 20px;
        cursor: pointer;
    }

    .menu-icon i {
        font-size: 30px;
    }

    .center-form {
        max-width: 80%;
    }

    .button-container {
        flex-wrap: wrap;
    }
}