* {
    font-family: 'Montserrat', sans-serif;
}

header nav {
    margin-bottom: 50px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 0;
    background-color: #7EA8BE;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px; 
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu-icon {
    display: none;
}

body {
    margin-top: 100px;
    overflow-y: scroll;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-info {
    max-width: 700px;
    width: 100%;
    text-align: center;
}

.contact-info h1 {
    font-size: 36px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {

    .contact-info {
        max-width: 80%;
    }
}

@media screen and (max-width: 640px) {
    nav {
        display: none;
    }

    .menu-icon {
        display: block;
        padding: 20px;
        cursor: pointer;
    }

    .menu-icon i {
        font-size: 30px;
    }

    .contact-info{
        max-width: 80%;
    }
}